.container {
	position: relative;
	background: #FFFFFF;
}

.headingText {
	position: absolute;
	width: 558px;
	height: 60px;
	left: 441px;
	top: 96px;

	/* heading-02 */

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 125%;
	/* identical to box height, or 60px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;

	color: #000000;
}
